
@{
    ViewBag.Title = "Welcome";
}

<h2>Welcome To The GC Shop!</h2>



<p>Please take a moment to <a href="../Shop/Registration">register</a></p> 





<p><a href="../Shop/DisplayShop">Shop List!</a></p>